<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809638016251-n29jl1ccllvaiml991dcvfk2vlc8pfto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809638016251-n29jl1ccllvaiml991dcvfk2vlc8pfto</string>
	<key>API_KEY</key>
	<string>AIzaSyAFkTabZB_7TNGkw--CPDUnZz7UFMwH13A</string>
	<key>GCM_SENDER_ID</key>
	<string>809638016251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>najotbank.uz.untitled1</string>
	<key>PROJECT_ID</key>
	<string>najot-bank-app</string>
	<key>STORAGE_BUCKET</key>
	<string>najot-bank-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809638016251:ios:eb7bc2a30308c88aef2c5e</string>
	<key>DATABASE_URL</key>
	<string>https://najot-bank-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>